<footer class="mt-5 bg-dark py-5 text-center">
    <p class="textFooter">
        Copyright Yann Vogel
    </p>
    <p>
        <a href="https://www.linkedin.com/in/yann-vogel-154920198/" target="_blank">
            <span class="fab fa-linkedin socialNetworkIcon"></span>
        </a>
        <a href="https://github.com/Flawxy" target="_blank">
            <span class="fab fa-github-square socialNetworkIcon"></span>
        </a>
        <a href="https://twitter.com/YannVogel" target="_blank">
            <span class="fab fa-twitter-square socialNetworkIcon"></span>
        </a>
        <a href="https://www.facebook.com/yann.vogel.908" target="_blank">
            <span class="fab fa-facebook-square socialNetworkIcon"></span>
        </a>
    </p>
</footer>